@import "./variables.scss";

body {
    background-color: $background-color;
}

a:link,
a:visited {
    color: $brand-primary-color;
    text-decoration: none;
    // font-size: 18px;
}

a:hover,
a:active {
    color: $brand-primary-color;
    text-decoration: underline;
    // opacity: 0.8;
}

.el-card {
    border: unset;
    border-radius: 0;
    // background-color: rgba(242, 241, 239, 1);
}
